#task-details {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    min-width: 100%;
    overflow: auto;
}

#task-details.show {
    transition: opacity 500ms;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#task-details > div {
    background-color: white;
    padding: 10px;
    width: 30%;
    height: 50%;
    border: 5px solid #058240;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
}

#task-details-header {
    margin-bottom: 10px;
}

#task-details-header > h2 {
    text-align: center;
}

#task-details-header > button {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
}

#task-details-header > button > img {
    filter:invert(1);
}

#task-details-header button:hover {
    background-color: #b70000;
    cursor: pointer;
}

#task-details-body > p {
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

#task-details-note {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

#task-details-note-button {
    background-color: #058240;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#task-details-note-button:hover {
    background-color: #006b1f;
    cursor: pointer;
}