/*  ====================
    create-new-task-form
*/
#create-new-task-form {
    opacity: 0;
    visibility: hidden;
  }
  
/*
 CONTROL BUTTONS
*/

/* Common styles for control buttons */
#create-task-button {
color: white;
padding: 10px 20px;
cursor: pointer;
}

#create-task-button {
background-color:  #87C159 ;
}

#create-task-button:hover {
background-color: #46a049;
}


#close-button {
    background-color: #f44336;
    align-self: start;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}

#close-button > img {
    filter:invert(1);
}

#close-button:hover {
    background-color: #da190b;
}
  
/* Hide the checkbox */
#toggleForm, #closeForm {
display: none;
}

/* =============== */

/* Form title */
#task-form-header > h2 {
    margin-top: 0;
    text-align: center;
}

  
/* Pop-up style */
#create-new-task-form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    min-width: 100%;
  }

/* The actual form style */
#create-new-task-form > div {
    background-color: white;
    padding: 10px;
    width: 30%;
    height: 50%;
    border: 5px solid #058240;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
  }

/* Form header */
#create-new-task-form > div > #task-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Form header image */
#create-new-task-form > div > #task-form-header > img {
    width: 100px;
    height: 100px;
}
  
  /* Displaying pop-up */
  #create-new-task-form.show {
    transition: opacity 500ms;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
